# Logs
logs
*.log
pnpm-debug.log*
lerna-debug.log*
node_modules
.DS_Store
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# App
.env
## scriptIdをgithubにpushさせないため
.clasp.json
*storybook.log
storybook-static
