.fadeup {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 2000ms cubic-bezier(0.22, 0.9, 0.27, 1) forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
